.main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.musicIcon {
  bottom: 20px;
  right: 20px;
  z-index: 50;
  filter: brightness(0) invert(1);
  position: absolute;
  z-index: 14;
  filter: brightness(0) invert(1);
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.musicIcon:hover {
  scale: 1.2;
}
